body {
  font-family: 'Segoe UI', sans-serif;
  background: #111;
  color: #39ff14;
  padding: 20px;
}

h1 {
  color: #39ff14;
  text-shadow: 0 0 10px #39ff14;
}

section {
  background: #1a1a1a;
  border: 1px solid #39ff14;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #39ff14;
}

label {
  font-size: 1.2em;
}

#systemStatus.on {
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
  font-weight: bold;
}

#systemStatus.off {
  color: #ff4040;
  text-shadow: 0 0 5px #ff4040;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #39ff14;
  padding: 8px;
  text-align: center;
  color: #fff;
}

th {
  background-color: #222;
}

#balance {
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 0 5px #39ff14;
}

